{% extends 'Header.html' %}
{% load static %}
{% block content %}
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <section>
            <div class="d-flex bg-dark text-white p-4">
                    <div class="col-lg-8 text-left">
                        <h3 class="text-center">Hello! Welcome Bhavesh Kumavat</h3>
                    </div>
                    <div class="col-lg-4 text-right">
                       <button type="button" class="text-right btn success"> Edit Profile</button>
                    </div>
                </div>
    </section>
    <section class="py-5">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="{% static "images/person_3.jpg" %}" class="img-fluid">
                            <div class="text-center content">
                              <button type="button" class="btn info">Change your Picture</button>
              
                            </div>
                           
                        </div>
                        <div class="col-lg-8 pl-5 mt-5 text-black">
                            <h2 class="mb-3"><u>About</u></h2>
                            <div class="form-group">
                            <form method="post">
                                {% csrf_token %}
                                <table style="width:90%">
                                        <tr>
                                          <th>Name:</th>
                                          <td>	<input type="text" name="name" class="form-control" required value="{{ p2.name }}"></td>
                                        </tr>
                                        <tr>
                                            <th>Status:</th>
                                            <td><input type="text" name="status" class="form-control"  required value="{{ p2.status }}"></td>
                                        </tr>
                                        <tr>
                                          <th>Gender:</th>
                                          <td><input type="text" name="gender" class="form-control"  required value="{{ p2.gender }}"></td>
                                        </tr>
                                        <tr><th>Address:</th>
                                            <td><input type="address" name="address" class="form-control"  required value="{{ p2.address }}"></td>
                                       </tr>
                                       <tr><th>Age:</th>
                                            <td><input type="number" name="age" class="form-control"  required value="{{ p2.age }}"></td>

                                       </tr>

                                      </table>
                                <button type="submit" id='pin' class="btn btn-success">Submit</button>
                            </form>
                            </div>
                        </div>
                    </div>    
                  </div>
    </section>
    <div class="jumbotron">
        <a href="#" class="text-center text-black"><h2>Go Back To Home</h2></a>
    </div>

    <style type="text/css">

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 92%;
  padding: 20px;
}

</style>

</body>
{% endblock %}